{% extends './base.html'%}

{%block title %}Register - HTML{%endblock%}

{%block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages%}
        {{message}}
    {% endfor %}
    {% endif%}
{% endwith %}

<br><br><br>
<h2>Registrate en la página</h2>
<form action="/register" method="POST">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <label>
        Usuario:
        <input type="text" placeholder="Jeremias123" name="username">
    </label>
    <br>
    <label>
        Contraseña:
        <input type="password" name="password">
    </label>
    <br>
    <label>
        Nombre completo:
        <input type="text" name="fullname">
    </label>
    <br>
    <input type="submit" value="Iniciar sesión">
</form>

<h4>Ya tienes una cuenta?</h4>
<a href="{{url_for('login')}}">Iniciar Sesión</a>

{%endblock%}